@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #000;  /* Change the default text color to black */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, .white {
    color: #000;  /* Change the color of h2 and white class text to black */
}

a {
    color: #000;  /* Change link color to black */
    text-decoration: none;
}

/* Section 1 */
.section-1 {
    margin-bottom: 20px;
}

.section-1 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a {
    font-size: 1.5rem;
    padding: 10px;
}

/* Section 2 */
.section-2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-2 a {
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}

/* Animations / utilities */
.section-2 a:hover {
    font-size: 1.3rem;
    color: #555;  /* Slightly lighter color on hover */
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover {
    color: #555;  /* Slightly lighter color on hover */
    cursor: pointer;
    transition: 0.3s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

/* Media queries */
@media (max-width: 780px) {
    .container {
        padding: 10px;
    }
    .section-1 {
        padding-top: 5rem;
    }
    .section-2 {
        padding-top: 2rem;
    }
}
